<article class="botoes">
    <p class="button">
        <button type="button" {{on "click" this.calculate}}>Calculate the total price </button>
        <button  type="button" id="add-order" {{action "calculate"}}>Buy</button>
        <input type="button" onclick="funcao1()" value="Exibir Alert" />
    </p>
</article>