<article class="botoes">
    <p class="button">
        <button type="button" {{action "calculate"}}>Calculate the total price </button>
        <button  type="button" id="add-order" {{action "calculate"}}>Buy</button>
    </p>
</article>